{% raw %}{% if bootstrap %}
<div id="{{ obj.get_unique_id }}" class="container-fluid">
    <div class="row">
        {% for image in obj.images.all %}
            <div class="col-12 col-sm-6 col-md-4 col-xl-3">
                <a data-pswp-width="{{ image.file.width }}" data-pswp-height="{{ image.file.height }}" data-pswp-src="{{ image.file.url }}">
                    {% include 'pages/grid/grid_item.html' with image=image %}
                </a>
                {% if image.caption %}<p class="small text-muted mb-0">{{ image.caption }}</p>{% endif %}
                {% if image.caption %}<p class="small text-muted mb-0 pswp-caption-content">{{ image.caption }}</p>{% endif %}
            </div>
        {% endfor %}
    </div>
</div>
{% else %}
<div id="{{ obj.get_unique_id }}" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-4">
    {% for image in obj.images.all %}
        <div class="flex flex-col gap-2">
            <a data-pswp-width="{{ image.file.width }}" data-pswp-height="{{ image.file.height }}" data-pswp-src="{{ image.file.url }}">
                {% include 'pages/grid/grid_item.html' with image=image %}
            </a>
            {% if obj.show_captions %}
                {% if image.credits or image.caption %}
                {% if image.caption %}<p class="small text-muted mb-0 pswp-caption-content">{{ image.caption }}</p>{% endif %}
                    <p class="ml-2 mt-1 italic text-center">
                        {{ image.caption }}
                        {% if image.credits and image.caption %}-{% endif %}
                        {% if image.credits %}{{ image.credits }}{% endif %}
                    </p>
                {% endif %}
            {% endif %}
        </div>
    {% endfor %}
</div>
{% endif %}.
<script type="module">
    import PhotoSwipeDynamicCaption from "https://cdnjs.cloudflare.com/ajax/libs/photoswipe-dynamic-caption-plugin/1.2.7/photoswipe-dynamic-caption-plugin.esm.js"
    (function () {
        var lightbox = new PhotoSwipeLightbox({
            gallery: '#{{ obj.get_unique_id }}',
            showHideAnimationType: 'fade',
            children: 'a',
            pswpModule: PhotoSwipe
        });
        const captionPlugin = new PhotoSwipeDynamicCaption(lightbox, {
            // Plugins options, for example:
            type: 'below',
        });
        lightbox.init();
    })()
</script>{% endraw %}
