{% raw %}{% extends 'page.html' %}
{% load i18n core sorl_thumbnail %}
{% block title %}{{ page.title }} | {{ block.super }}{% endblock %}
{% block meta_title %}
    {% if page.meta_title %}
        {{ page.meta_title }}
    {% else %}
        {{ page.title }}
    {% endif %}
{% endblock %}
{% block meta_og_title %}
    {% if page.meta_title %}
        {{ page.meta_title }}
    {% else %}
        {{ page.title }}
    {% endif %}
{% endblock %}
{% block meta_tw_title %}
    {% if page.meta_title %}
        {{ page.meta_title }}
    {% else %}
        {{ page.title }}
    {% endif %}
{% endblock %}
{% load static i18n %}
{% block meta_description %}
    {% if page.meta_description %}
        {{ page.meta_description }}
    {% else %}
        {{ page.content|truncatewords:20 }}
    {% endif %}
{% endblock %}
{% block meta_og_description %}
    {% if page.meta_description %}
        {{ page.meta_description }}
    {% else %}
        {{ page.content|truncatewords:20 }}
    {% endif %}
{% endblock %}
{% block meta_tw_description %}
    {% if page.meta_description %}
        {{ page.meta_description }}
    {% else %}
        {{ page.content|truncatewords:20 }}
    {% endif %}
{% endblock %}
{% block meta_keywords %}
    {% if page.meta_keywords %}
        {{ page.meta_keywords }}
    {% else %}
        {% for tag in page.tags.all %}
            {% if forloop.counter0 %},{% endif %}
            {{ tag }}
        {% endfor %}
    {% endif %}
{% endblock %}
{% block meta_og_url %}{{ request.build_absolute_uri }}{% endblock %}
{% block meta_tw_url %}{{ request.build_absolute_uri }}{% endblock %}

{% block extra_css %}
    {% if page.has_map_content %}
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />
        {# fullscreen control for leaflet #}
        <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css'
            rel='stylesheet' />
  {% endif %}
{% endblock %}
{% block extra_js %}
    {% if page.has_map_content %}
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
        {# fullscreen control for leaflet #}
        <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
    {% endif %}
{% endblock %}

{% block top_css %}max-w-screen overflow-hidden relative{% endblock top_css %}
{% block navbar %}{% include "core/components/navbar.html" %}{% endblock navbar %}
{% block hero %}
<div class="relative lg:border-r-[40px] lg:border-secondary">
    {% thumbnail page.image "1920x500" crop=page.image.sorl as cropped %}
    <img src={{ cropped.url }} alt="image" class="hidden lg:block w-full" width="1920" height="500" />
    {% endthumbnail %}
    {% thumbnail page.image "800x400" crop=page.image.sorl as cropped %}
    <img src={{ cropped.url }} alt="image" class="lg:hidden w-full" width="800" height="400" />
    {% endthumbnail %}
    <div class="absolute top-0 left-0 w-full h-full bg-gradient-to-b from-black/80 via-black/30 to-black/0 text-center leading-tight"></div>
    {% #title title=page.title %}
</div>
{% endblock hero %}

{% block content %}
    <main>

        {% if page.last_updated %}
            <div class="flex justify-center mt-6 text-gray-400 text-sm">{% trans 'Ultimo aggiornamento:' %} {{ updated }}</div>
        {% endif %}
        <div id="content-blocks" class="flex flex-col py-4 text-lg">
            {% for content_block in page.content_blocks.for_content %}
                {% if content_block.enabled %}
                    {% with template=content_block.content_object.get_render_template %}
                        {% include template with obj=content_block.content_object request=request only %}
                    {% endwith %}
                {% endif %}
            {% endfor %}
        </div>
    </main>
{% endblock %}{% endraw %}
