{% raw %}{% load static components %}
<div id="{{obj.get_unique_id}}" class="{% if obj.full_width %}{% else %}md:max-w-5xl md:mx-auto px-6 md:px-2 lg:px-0{% endif %}" {% if obj.background_color %}style="background-color: {{ obj.background_color }}{% endif %}">
{% if obj.use_accordion %}
    {% accordion id=obj.get_unique_id name=obj.name bg=obj.background_color %}
    <div class="flex {% if obj.image_position == 'top' or obj.image_position == 'bottom' %}flex-col{% endif %} gap-8">
        <div class="{% if obj.image_position == 'top' or obj.image_position == 'left' %}order-1{% endif %}">
            {{ obj.text|safe }}
        </div>
        <div>
            <img width={{ obj.image.width }} height={{ obj.image.height }} class="w-full h-auto" src="{{ obj.image.url }}" alt="{{ obj.caption }}" />
            {% if obj.show_captions %}
                {% if obj.credits or obj.caption %}
                <p class="ml-2 mt-1 italic text-center">
                    {{ obj.caption }}
                    {% if obj.credits and obj.caption %} - {% endif %}
                    {% if obj.credits %} {{ obj.credits }} {% endif %}
                </p>
                {% endif %}
            {% endif %}
        </div>
    </div>
    {% endaccordion %}
{% else %}
    {% if obj.show_name %}<h2>{{ obj.name }}</h2>{% endif %}
    <div class="flex {% if obj.image_position == 'top' or obj.image_position == 'bottom' %}flex-col{% endif %} gap-8">
        <div class="{% if obj.image_position == 'top' or obj.image_position == 'left' %}order-1{% endif %}">
            {{ obj.text|safe }}
        </div>
        <div>
            <img width={{ obj.image.width }} height={{ obj.image.height }} class="w-full h-auto" src="{{ obj.image.url }}" alt="{{ obj.caption }}" />
            {% if obj.show_captions %}
                {% if obj.credits or obj.caption %}
                <p class="ml-2 mt-1 italic text-center">
                    {{ obj.caption }}
                    {% if obj.credits and obj.caption %} - {% endif %}
                    {% if obj.credits %} {{ obj.credits }} {% endif %}
                </p>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endif %}
</div>{% endraw %}
