{% load sorl_thumbnail %}
<div class="{% if obj.background_color %}px-4 py-2{% else %}py-2{% endif %} rounded-lg" style="background-color: {{ obj.background_color }}">
  {% if obj.show_name %}<h3 class="font-medium">{{ obj.name }}</h3>{% endif %}
  <div class="flex flex-col justify-center md:flex-row md:align-top flex-wrap">
      {% for im in obj.images.all %}
        <div class="hidden md:flex flex-col justify-start p-2" style="flex-basis: {{obj.basis}};">
          {% if im.file %}
            {% thumbnail im.file "400x400" crop=im.file.sorl as cropped %}
              <div onclick="window.location.assign('{{ im.link }}');" class="h-auto w-full p-3 min-w-[13rem] {% if obj.rectangular %}max-h-[13rem]{% endif %} drop-shadow-md  relative flex justify-center items-center bg-cover {% if obj.zoom %} transform transition duration-200 hover:scale-105 {% endif %} cursor-pointer" style="border-radius: {{obj.rounding}}px; aspect-ratio : 1 / 1;{% if im.file %} background-image: url({{cropped.url}}); {% else %} background-color:{{im.bg_color}}; {% endif %}">
            {% endthumbnail %}
          {% else %}
            <div onclick="window.location.assign('{{ im.link }}');" class="h-auto w-full p-3 min-w-[13rem] {% if obj.rectangular %}max-h-[13rem]{% endif %} drop-shadow-md  relative flex justify-center items-center bg-cover {% if obj.zoom %} transform transition duration-200 hover:scale-105 {% endif %} cursor-pointer" style="border-radius: {{obj.rounding}}px; aspect-ratio : 1 / 1; background-color:{{im.bg_color}};">
          {% endif %}
              <div class="flex flex-col items-center ">
                {% if im.icon %}
                  <img src="{{im.icon.url}}" class="text-slate-50 h-20 ml-0 mb-3 {% if obj.shadow %}icon-shadow {% endif %}" alt="{{im.name}}"/>
                {% endif %}
                <span class="text-slate-50 ms-0 text-3xl text-center"> <p class="{% if obj.shadow %}text-shadow {% endif %}" style="color:{{im.text_color}};">{{im.name}}</p></span>
              </div>
            </div>
        </div>
        <div class="mb-6 w-full max-w-full flex flex-col items-center md:hidden">
        {% if im.file %}
          {% thumbnail im.file "800x200" crop=im.file.sorl as cropped %}
            <div onclick="window.location.assign('{{ im.link }}');" class="px-7 h-52 w-full max-w-full drop-shadow-md relative flex  items-center bg-cover" style="border-radius: {{obj.rounding}}px;{% if im.file %} background-image: url({{cropped.url}}); {% else %} background-color:{{im.bg_color}}; {% endif %}">
          {% endthumbnail %}
        {% else %}
          <div onclick="window.location.assign('{{ im.link }}');" class="px-7 h-52 w-full max-w-full drop-shadow-md relative flex  items-center bg-cover" style="border-radius: {{obj.rounding}}px;background-color:{{im.bg_color}};">
        {% endif %}
            <div class="flex flex-row  items-center" style="margin-left: 15%;">
              {% if im.icon %}
                <img src="{{im.icon.url}}" class="text-slate-50 h-20 {% if obj.shadow %}icon-shadow {% endif %}" alt="{{im.name}}"/>
              {% endif %}
              <span class="text-slate-50 ms-6  lg:ms-0 text-3xl {% if obj.shadow %}text-shadow {% endif %}" style="color:{{im.text_color}};">{{im.name}}</span>
            </div>
          </div>
        </div>
      {% endfor %}
  </div>
</div>